.navbar {
  display: fixed;
  background-color: #a2cde1;
  padding: 1rem;
  position: top;
  top: 0;
  justify-content: space-between;

  box-shadow: 1px 1px 1px 1px;
  border-radius: 6px;
  z-index: 1;
  margin-bottom: 1rem;
  font-style: italic;
}
